*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  /* ========================= NavBar ============================= */
  
  .nav{
    width: 100%;
    display: none;
    position: fixed;
    top: 5px;
    padding: 5px 20px;
  }
  
  .navBar{
    width: 100%;
    background-color:  #2727e4b5;
    border-radius: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 1px 1px 5px #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 2px;
  }
  
  .nav-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .hambugger{
    width: 50px;
    height: 40px;
  }
  
  .hambugger .box{
    width: 50px;
    height: 10px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  /* List  */

  .list-container{
    position: relative;
    display: none;
    top: 5px;
    padding: 5px 20px;
    margin: 10px 0;
    z-index: 1;
  }

  .list-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  #2727e4b5;
    border-radius: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 1px 1px 5px #808080;
  }

  .list-wrap a{
    margin: 10px;
    font-size: 2.1rem;
  }

  .close{
    position: absolute;
    font-size: 2.1rem;
    right: 45px;
    cursor: pointer;
  }

  /* Main */

  .main{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* img */

  .img-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }


  /* Side Bar  */
  
  .sideBar{
    position: sticky;
    top: 20px;
    min-height: 680px;
    min-width: 250px;
    max-width: 400px;
    left: 25px;
    top: 15px;
    background-color: #2727e4b5;
    width: 22%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #ffffff;
    overflow: auto;
    box-shadow: 1px 1px 5px #808080;
  }
  
  .sideBar h2{
    font-size: 1.7rem;
    margin: 15px 0 10px;
  }
  
  .sideBar h3{
    font-size: 1.3rem;
    margin: 5px 0 20px;
  }
  
  .sideBar ul{
    margin-bottom: 10px;
  }
  
  .sideBar ul li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    padding: 2px 0;
  }
  
  /* a.active{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: underline;
    font-size: 1.4rem;
  } */
  
  /* ==================== Container ====================================  */
  
  .container{
    width: 74%;
    /* float: right; */
    margin: 1%;
    height: 680px;
    /* height: 840px; */
    /* overflow-y: auto; */
  }
  
  /* section  */
  
  .section{
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* border: 5px solid #0000; */
    border-radius: 10px;
    padding: 5%;
    box-shadow: 1px 1px 5px #808080;
  }
  
  /* Home  */
  
  .home-section{
    background-color: #2727e4b5;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    color: #ffffff;
    /* margin-left: 10px; */
    padding: 10%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #808080;
    background-image: linear-gradient(rgba(39, 39, 228, 0.71),rgba(39, 39, 228, 0.71)), url(../assets/dhiraj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .home-section h1{
    font-size: 3.1rem;
  }
  
  .home-section h2{
    font-size: 1.2rem;
    margin: 20px 20px 30px 0px;
  }
  
  .anchor-btn{
    text-decoration: none;
    color: #ffffff;
    width: 200px;
    margin: 40px 10px 40px 0px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
  }
  
  /* About  */
  
  .about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5%;
    box-shadow: 1px 1px 5px #808080;
    margin-bottom: 20px;
  }
  
  .about-heading{
    font-size: 2.1rem;
    margin-bottom: 20px;
  }
  
  .about-container{
    display: flex;
  }
  
  .about-col-left{
    margin-right: 20px;
    width: 25%;
    padding: 1%;
    height: 100%;
  }
  
  .about-col-right{
    width: 70%;
    padding: 1%;
    height: 100%;
  }
  
  .about-col-right h2{
    font-size: 1.9rem;
  }
  
  .about-col-right p{
    color: #808080;
    margin: 10px 0;
    font-size: 1.1rem;
  }
  
  .about-row{
    display: flex;
    justify-content: left;
    margin: 20px 0 30px 0;
    align-items: center;
  }
  
  .about-row .top-row li{
    list-style: none;
    color: #808080;
    margin: 20px;
    font-size: 1.1rem;
  }
  
  .about-row .second-row > span{
    list-style: none;
    color: #808080;
    margin: 10px;
    font-size: 1.1rem;
  }
  
  .about-btn{
    margin: 2% 0;
  }
  
  .skills p{
    color: grey;
    font-size: 1.1rem;
    margin-top: 20px 0;
  }
  
  .skill-col{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .skill-col ul{
    margin: 10px;
    width: 50%;
  }
  
  .skill-col ul li{
    color: #808080;
    list-style: none;
    /* border: 1px solid #808080; */
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px #808080;
    border-radius: 10px;
  }
  
  /* Services  */
  
  .services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5%;
    box-shadow: 1px 1px 5px #808080;
    margin-bottom: 20px;
  }
  
  .heading{
    font-size: 2.1rem;
  }
  
  .service-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
  }
  
  .service-card{
    width: 250px;
    border: 1px solid #808080;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .service-card:hover{
    background-color: #fa7575;
    color: #ffffff;
  }
  
  .service-card:hover i{
    color: #ffffff;
  }
  
  .service-card:hover p{
    color: #ffffff;
  }
  
  .service-card i{
    color:  #fa7575;
    font-size: 2.5rem;
    margin: 5px;
  }
  
  .service-card h3{
    margin: 5px;
  }
  
  .service-card p{
    text-wrap: wrap;
    color: #808088;
    margin: 10px;
  }
  
  /* Contact  */
  
  .contact-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-heading{
    font-size: 2.1rem;
    margin-bottom: 20px;
  }
  
  .contact-container{
    width: 100%;
    display: flex;
  }
  
  .contact-col-left{
    width: 30%;
    margin-right: 20px;
  }
  
  .contact-col-left .contact{
    /* border: 1px solid #fff; */
    padding: 10px;
    margin: 10px;
  }
  
  .contact-col-right{
    width: 70%;
    padding: 10px
  }
  
  .contact-col-right .top-row{
    display: flex;
    justify-content: space-between;
  }
  
  .contact-col-right .top-row input{
    width: 47%;
    padding: 8px 8px 8px 15px;
    border-radius: 20px;
    border: 1px solid #808080;
    background: none;
    outline: none;
    margin-bottom: 20px;
  }
  
  .second-row{
    display: flex;
    flex-direction: column;
  }
  
  .second-row input, textarea{
    width: 100%;
    padding: 8px 8px 8px 15px;
    border-radius: 20px;
    border: 1px solid #808080;
    background: none;
    outline: none;
    margin-bottom: 10px;
  }
  
  .second-row textarea{
    margin: 10px 0 0;
  }
  
  .contact-btn{
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #fa7575;
    color: #ffffff;
    margin: 20px 0;
  }
  
  @media screen and (max-width: 1154px){

    .nav{
      display: block;
    }
  
    .sideBar{
      display: none;
    }
  
    .main{
      margin: 10px;
    }
  
    .container{
      width: 100%;
      margin: 0;
    }
  
    .home-section{
      height: 100vh;
      overflow: hidden;
    }
    
    .home-section h1{
      font-size: 2.4rem;
    }
  
    .home-section h2{
      font-size: 1.1rem;
      margin-bottom: 30px;
    }
  }
  
  @media screen and (min-height: 820px){
    .sideBar{
      height: 820px;
    }
    .container{
      height: 820px;
    }
  }